<mat-card class="list-component">

  <div *ngIf="loading" class="mat-spinner-wrapper">
      <mat-spinner></mat-spinner>
  </div>

  
  <mat-card-content *ngIf="!loading">
    
    <div>
      <button mat-raised-button matTooltip="Add new project" (click)="newProject()">
        <mat-icon color="primary">add_box</mat-icon>
      </button>
        <app-project-link *ngFor="let _project of projects" [project]="_project" [id]=_project.id></app-project-link>
    </div> 

    <router-outlet></router-outlet>
  </mat-card-content>

</mat-card>