<mat-card>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="group">
            <mat-label>First Name:</mat-label>
                <input matInput
                    type="text"
                    id="firstName"
                    formControlName="firstName"
                    [(ngModel)]="user.firstName" 
                    >
                <mat-error
                    *ngIf="userForm.get('firstName').touched && userForm.get('firstName').errors?.required">
                    First Name is required
                </mat-error>
                <mat-error
                    *ngIf="userForm.get('firstName').errors?.minlength">
                    First Name min length is 4 characters
                </mat-error>
                <mat-error
                    *ngIf="userForm.get('firstName').errors?.maxlength">
                    First Name max length is 20 characters
                </mat-error>
        </mat-form-field>

        <mat-form-field class="group">
            <mat-label>Last Name:</mat-label>
                <input matInput
                    type="text"
                    id="lastName"
                    formControlName="lastName"
                    [(ngModel)]="user.lastName" 
                    >
                <mat-error
                    *ngIf="userForm.get('lastName').touched && userForm.get('lastName').errors?.required">
                    Last Name is required
                </mat-error>
                <mat-error
                    *ngIf="userForm.get('lastName').errors?.minlength">
                    Last Name min length is 4 characters
                </mat-error>
                <mat-error
                    *ngIf="userForm.get('lastName').errors?.maxlength">
                    Last Name max length is 20 characters
                </mat-error>
        </mat-form-field>

        <mat-form-field class="group">
            <mat-label>Email:</mat-label>
                <input matInput
                    type="text"
                    id="email"
                    formControlName="email"
                    [(ngModel)]="user.email" 
                    >
                <mat-error
                    *ngIf="userForm.get('email').touched && userForm.get('email').errors?.required">
                    Email is required
                </mat-error>
                <mat-error
                    *ngIf="userForm.get('email').errors?.email">
                    Invalid email
                </mat-error>
                <mat-error
                    *ngIf="userForm.get('email').errors?.maxlength">
                    Email max length is 50 characters
                </mat-error>
        </mat-form-field>
        
        <mat-form-field class="group">
            <mat-label>Birthday:</mat-label>

                <input matInput
                    type="date" 
                    id="birthday"
                    formControlName="birthday"
                    [(ngModel)]="user.birthday"
                    >
                <mat-error
                    *ngIf="userForm.get('birthday').touched && userForm.get('birthday').errors?.required">
                    Birthday is required
                </mat-error>
                <mat-error
                    *ngIf="userForm.get('birthday').hasError('date-maximum')">
                    Minimum age is 18
                </mat-error>
        </mat-form-field>

        <mat-form-field class="group">
            <mat-label>Team:</mat-label>
                <mat-select formControlName="team"  [(ngModel)]="user.teamId">
                    <mat-option *ngFor="let _team of teams" [value]="_team.id" [selected] = "_team.id === user.teamId">
                        {{_team.name}}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="userForm.get('team').touched && userForm.get('team').errors?.required">
                    Team is required
                </mat-error>
        </mat-form-field>


            <div class="form-buttons">
                <button
                    mat-raised-button
                    type="submit"
                    class="submit"
                    [disabled]="!userForm?.valid">Save
                </button>
                <button 
                    mat-raised-button
                    color="warn"
                    type="button" 
                    class="cancel" 
                    (click)="onCancel()">Cancel
                </button>
            </div>
    </form>
</mat-card>