<mat-card>
    <mat-card-content *ngIf="user">
        <div class="content">
            <p><b>FirstName:</b></p><p>{{user?.firstName}}</p>
            <p><b>LastName:</b></p><p>{{user?.lastName}}</p>
            <p><b>Email:</b></p><p>{{user?.email}}</p>
            <p><b>Birthday:</b></p><p>{{user?.birthday | localizedDate}}</p>
            <p><b>Registered:</b></p><p>{{user?.registeredAt | localizedDate}}</p>
            <p><b>Team:</b></p><a [routerLink]="['/teams', user?.team?.id]">{{user?.team?.name}}</a>
            <p><b>Tasks:</b></p>
            <div>
                <a *ngFor="let _task of tasks" class="task" [routerLink]="['/tasks', _task?.id]">
                    <mat-icon [appTaskStatus]=_task?.state [matTooltip]='_task?.state | stringTaskState'>circle</mat-icon>{{_task?.name}}</a>
            </div>
            <p><b>Projects:</b></p>
            <div>
                <a *ngFor="let _project of projects" [routerLink]="['/projects', _project?.id]">
                    {{_project?.name}}</a>
            </div>
        </div>
        <div
            class="btn-group"
            appDropdown>
            <button class="more-button">
                <mat-icon >more_vert</mat-icon>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onEditUser()"><mat-icon>edit</mat-icon></a></li>
                <li><a (click)="onDeleteUser()"><mat-icon color="warn">delete</mat-icon></a></li>
            </ul>
        </div>
        
    </mat-card-content>
</mat-card>
