<mat-card class="list-component">

    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
  
    
    <mat-card-content *ngIf="!loading">
      
      <div>
        <button mat-raised-button matTooltip="Add new task" (click)="newTask()">
          <mat-icon color="primary">add_box</mat-icon>
        </button>
          <app-task-link *ngFor="let _task of tasks" [task]="_task" [id]=_task.id></app-task-link>
      </div> 
  
      <router-outlet></router-outlet>
    </mat-card-content>
  
  </mat-card>