<mat-card class="list-component">

    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
  
    <mat-card-content *ngIf="!loading">
      
      <div>
        <button mat-raised-button matTooltip="Add new team" (click)="newTeam()">
          <mat-icon color="primary">add_box</mat-icon>
        </button>
          <app-team-link *ngFor="let _team of teams" [team]="_team" [id]=_team.id></app-team-link>
      </div> 
  
      <router-outlet></router-outlet>
    </mat-card-content>
  
  </mat-card>