<mat-card>
    <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="group">
            <mat-label>Name:</mat-label>
                <input matInput
                    type="text"
                    id="name"
                    formControlName="name"
                    [(ngModel)]="team.name">
                <mat-error
                    *ngIf="teamForm.get('name').touched && teamForm.get('name').errors?.required">
                    Name is required
                </mat-error>
                <mat-error
                    *ngIf="teamForm.get('name').errors?.minlength">
                    Name min length is 4 characters
                </mat-error>
                <mat-error
                    *ngIf="teamForm.get('name').errors?.maxlength">
                    Name max length is 100 characters
                </mat-error>
        </mat-form-field>
        
            <div class="form-buttons">
                <button
                    mat-raised-button
                    type="submit"
                    class="submit"
                    [disabled]="!teamForm?.valid">Save
                </button>
                <button 
                    mat-raised-button
                    color="warn"
                    type="button" 
                    class="cancel" 
                    (click)="onCancel()">Cancel
                </button>
            </div>
    </form>
</mat-card>