<mat-card class="list-component">

    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
  
    
    <mat-card-content *ngIf="!loading">
      
      <div>
        <button mat-raised-button matTooltip="Add new user" (click)="newUser()">
          <mat-icon color="primary">add_box</mat-icon>
        </button>
          <app-user-link *ngFor="let _user of users" [user]="_user" [id]=_user.id></app-user-link>
      </div> 
  
      <router-outlet></router-outlet>
    </mat-card-content>
  
  </mat-card>