mat-toolbar {
    position: fixed;
    z-index: 1;
}

.header {

    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
    
.header-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.header-content:focus {
    outline: none;
}

.main-content {
    margin: 0 10%;
}

.header-content a{
    text-decoration: none;
    margin: 10px;
    color: white;
}

.header-content a.active-header-link {
    color: black; 
}

.header-content img{
    margin: 10px;
}