<mat-card>
    <mat-card-content *ngIf="team">
        <div class="content">
            <p><b>Name:</b></p><p>{{team?.name}}</p>
            <p><b>Created:</b></p><p>{{team?.createdAt | localizedDate}}</p>
            <p><b>Users:</b></p>
            <div>
                <a *ngFor="let _user of team?.users" [routerLink]="['/users', _user?.id]">{{_user?.firstName}} {{_user?.lastName}}</a>
            </div>
            <p><b>Projects:</b></p>
            <div>
                <a *ngFor="let _project of projects" [routerLink]="['/projects', _project?.id]">
                    {{_project?.name}}</a>
            </div>
        </div>
        <div
            class="btn-group"
            appDropdown>
            <button class="more-button">
                <mat-icon >more_vert</mat-icon>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onEditTeam()"><mat-icon>edit</mat-icon></a></li>
                <li><a (click)="onDeleteTeam()"><mat-icon color="warn">delete</mat-icon></a></li>
            </ul>
        </div>
        
    </mat-card-content>
</mat-card>
