<mat-card>
    <mat-card-content *ngIf="task">
        <div class="content">
            <p><b>Name:</b></p><p>{{task?.name}}</p>
            <p><b>Description:</b></p><p>{{task?.description}}</p>
            <p><b>Created at:</b></p><p>{{task?.createdAt | localizedDate}}</p>
            <p><b>Finished at:</b></p><p>{{task?.finishedAt | localizedDate}}</p>
            <p><b>State:</b></p><p class="task">
                <mat-icon [appTaskStatus]=task?.state>circle</mat-icon>{{task?.state | stringTaskState}}</p>
            <p><b>Project:</b></p><a [routerLink]="['/projects', task?.project?.id]">{{task?.project?.name}}</a>
            <p><b>Performer:</b></p><a [routerLink]="['/users', task?.performer?.id]">{{task?.performer?.firstName}} {{task?.performer?.lastName}}</a>
            
        </div>
        <div
            class="btn-group"
            appDropdown>
            <button class="more-button">
                <mat-icon >more_vert</mat-icon>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onEditTask()"><mat-icon>edit</mat-icon></a></li>
                <li><a (click)="onDeleteTask()"><mat-icon color="warn">delete</mat-icon></a></li>
            </ul>
        </div>
        
    </mat-card-content>
</mat-card>
